In [1]:
print('Hi!')

Hi!

In [2]:
# Getting String - input statement

name = input('Enter your Name : ')
print('hi ', name)

Enter your Name : Arti
hi  Arti

In [3]:
# Getting Integer input statement
a = int(input('Enter the value for A : '))
print(type(a))
b = int(input('Enter the value for B : '))
print(type(b))
c = a+b
print(c)

Enter the value for A : 8
<class 'int'>
Enter the value for B : 5
<class 'int'>
13

In [4]:
# Getting input - float
a = float(input('Enter the valu for A : '))
b = float(input('Enter the valu for B : '))
c = a+b
print(c)

Enter the valu for A : 2.0
Enter the valu for B : 4.2
6.2

In [7]:
#Multiple Values in Single Line
name1,name2,name3=input('Enter 3 Names  : ').split()
print('Name 1 : ',name1)
print('Name 2 : ',name2)
print('Name 3 : ',name3)

Enter 3 Names  : aru max arya
Name 1 :  aru
Name 2 :  max
Name 3 :  arya

In [8]:
name1,name2,name3=input('Enter 3 Names  : ').split(',')
print('Name 1 : ',name1)
print('Name 2 : ',name2)
print('Name 3 : ',name3)

Enter 3 Names  : aru,max,arya
Name 1 :  aru
Name 2 :  max
Name 3 :  arya

In [9]:
import calendar

#ask of month and yeaR
year = int(input("Please Enter the year Number: "))
month = int(input("Please Enter the month Number: "))

print(calendar.month(year, month))

Please Enter the year Number: 2025
Please Enter the month Number: 1
    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [10]:
# Find Area of Triangle based on Base and Height
print("Enter the Base Length of Triangle: ")
b = float(input())
print("Enter the Height Length Triangle: ")
h = float(input())
a = 0.5 * b * h
print("\nArea = ", a)

Enter the Base Length of Triangle:
5
Enter the Height Length Triangle:
6

Area =  15.0

In [11]:
str = "BANANA"
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])
print(str[5])

B
A
N
A
N
A

In [12]:
#looping through string
for x in 'BANANA':
    print(x)

B
A
N
A
N
A

In [13]:
s = "life iS beaUtiful !!! "
print(s)

life iS beaUtiful !!!

In [14]:
print(s.strip())

life iS beaUtiful !!!

In [15]:
print(type(s))

<class 'str'>

In [16]:
print(len(s))

22

In [17]:
print(s.upper())

LIFE IS BEAUTIFUL !!!

In [18]:
print(s.lower())

life is beautiful !!!

In [19]:
s = "life iS beaUtiful !!! "
print(s.capitalize())

Life is beautiful !!!

In [20]:
print(s.title())

Life Is Beautiful !!!

In [21]:
print (s.center(100))

                                       life iS beaUtiful !!!

In [22]:
s = "life iS beaUtiful ha"
print('life' in s)
print('fast' in s)

True
False

In [23]:
print(s.count("!"))

0

In [24]:
print(s.endswith("ha"))

True

In [25]:
s = "life iS beaUtiful ha"
print(s.find("f"))

2

In [26]:
print(s.replace("l",'w'))

wife iS beaUtifuw ha

In [27]:
a = 'life is beautiful !!!'
b = 'Live happily'
print("Concatenation : " + a + b)
print("Concatenation : " , a , b)

Concatenation : life is beautiful !!!Live happily
Concatenation :  life is beautiful !!! Live happily

In [28]:
str = "PythonProgramming"
# Start Oth index to end
print(str[0:])

PythonProgramming

In [29]:
# Starts 1th index to 4th index
print(str[1:5])

ytho

In [30]:
# Starts 2nd index to 3rd index
print(str[2:4])

th

In [31]:
# Starts 0th to 2nd index
print(str[:3])

Pyt

In [32]:
#Starts 4th to 6th index
print(str[4:7])
print(str[0])
print(str[-1])

onP
P
g

In [33]:
# curly brackets
print('{} and {} are best friends'.format('Arun','vijay'))

Arun and vijay are best friends

In [34]:
# positional arguements
print('{1} and {0} are best friends'.format('Arun','vijay'))

vijay and Arun are best friends

In [35]:
# even or odd
num = int(input('Enter the number : '))

if num % 2 ==0:
  print('even : ', num)
else:
  print('odd : ',num)

Enter the number : 6
even :  6

In [36]:
# greatest of three numbers
a = int(input('Enter A : '))
b = int(input('Enter B : '))
c = int(input('Enter C : '))

if (a>b and a>c):
  print('A is bigger')
if(b>a and b>c):
  print('B is bigger')
if(c>a and c>b):
  print('C is bigger')

Enter A : 52
Enter B : 68
Enter C : 85
C is bigger

In [37]:
print("Check the person is eligible to vote or not")
age=int(input("Enter your Age : "))

if age<18:
    print("Sorry, You are not eligible to Vote")
else:
    print("You are eligible to vote")

Check the person is eligible to vote or not
Enter your Age : 41
You are eligible to vote

In [38]:
print("Guess a Number: ")
num = input()

num = int(num)
if num>10 and num<20:
    print("\nCorrect Guess!")
else:
    print("\nIncorrect Guess!")

Guess a Number:
8

Incorrect Guess!

In [39]:
regno = int(input("Enter Register no : "))
if regno in [101,105,109,106]:
    print("pass")
else:
    print("Fail")

Enter Register no : 152
Fail